<div class="col-md-3">
    <a href="#" class="thumbnail-selector" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Vulnerability Tracker">
        <div class="thumbnail">
            <img src="images/AppLogo.png" class="thumbnail-img">
            <div class="caption">
                <p><strong>Vulnerability Tracker</strong></p>
                <p><span class="glyphicon glyphicon-user"></span> David Rawlings</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-sm" disabled>Run</button>
                        <button type="button" class="btn btn-default btn-sm">View Details</button>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>